.pet-info-item {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem;
    font-size: 14px;
    border-radius: 0;
    border-top: 1px solid #040620;
    background-color: rgba(0, 21, 47, 0.76);
}

.pet-info-label {
    width: 50%;
    display: inline-block;
    text-align: left;
    font-weight: 600;
}

.pet-info-data {
    width: 50%;
    display: inline-block;
    text-align: left;
}